<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/seller_dashboard.css">
    <title>Seller Dashboard</title>
</head>
<body>
    <!-- Header Section -->
    <header class="custom-header text-center py-5">
        <h1 class="display-4 header-title">Welcome to FARA</h1>
        <p class="lead header-subtitle">Your one-stop shop for the latest trends</p>
    </header>
    <!-- Flash messages (Toast Notification) -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="toast-container">
            {% for message in messages %}
                <div class="toast toast-success show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

    <!-- Dashboard Container -->
    <div class="dashboard-container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="dropdown">
                <h2 class="drop-header">User Actions <span class="arrow">></span></h2>
                <div class="dropdown-content">
                    <ul>
                        <li><a href="{{ url_for('seller_homepage') }}">Home</a></li>
                        <li><a href="/logout" onclick="return confirm('Are you sure you want to logout?');">Logout</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        
        <!-- Main Content -->
        <main class="main-content">
            <h1>Seller Product</h1>
            <a href="{{ url_for('add_product') }}" class="add-product-button">Add Product</a>
            <h2>Your Products</h2>
            <div class="products-container">
                {% if products %}
                    {% for product in products %}
                        <div class="product-item">
                            <h3>{{ product[2] }}</h3>
                            <img src="{{ url_for('static', filename=product[6]) }}" alt="{{ product[2] }}" class="product-image">
                            <p>Description: {{ product[3] }}</p>
                            <p>Price: ${{ product[4] }}</p>
                            <p>Stock: {{ product[7] }}</p>
                            <a href="{{ url_for('edit_product', product_id=product[0]) }}" class="edit-product-link">Edit Product</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No products available. <a href="{{ url_for('add_product') }}">Add a Product</a></p>
                {% endif %}
            </div>
        
            
        </main>
    </div>

    <!-- External JavaScript -->
    <script src="/static/js/seller_dashboard.js"></script>
</body>
</html>
