body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #eee7e7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

#existingShippingAddress {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background: #e9ecef;
    padding: 15px;
    border-radius: 8px;
}

.shipping-column {
    flex: 1; /* Allow columns to grow equally */
    min-width: 200px; /* Set a minimum width for columns */
}

.order-summary {
    list-style-type: none;
    padding: 0;
}

.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    background: #f8f9fa;
}

.order-image img {
    max-width: 100px;
    margin-right: 15px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto; /* Ensure the button only takes as much space as needed */
}

button:hover {
    background-color: #282b29;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.payment-method {
    margin-top: 20px;
    padding: 15px;
    background: #e9ecef;
    border-radius: 8px;
}

.total-amount-container {
    display: flex;
    justify-content: flex-end; /* Aligns the total amount to the right */
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
    margin-top: 20px;
}

/* Aligning the button to the right in its container */
.button-container {
    display: flex;
    justify-content: flex-end; /* This moves the button to the right */
    margin-top: 20px;
}

/* Toast container */
.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
}

/* Individual toast */
.toast {
    min-width: 250px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Toast body styling */
.toast-body {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Toast fade-in effect */
.toast.show {
    opacity: 1;
}

/* Success Toast */
.toast-success {
    background-color: #28a745;
}

/* Error Toast */
.toast-error {
    background-color: #dc3545;
}

/* Info Toast */
.toast-info {
    background-color: #17a2b8;
}

/* Warning Toast */
.toast-warning {
    background-color: #ffc107;
}
