    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/login.css">
        <title>Login</title>
    </head>
    <body>
        <div class="logo-container">   
            <img src="/static/images/purelogo.png" alt="Logo" class="logo"> <!-- Replace with the actual path to your logo -->
            <span class="logo-text">FARA</span>
        </div>

        <!-- Flash messages (Toast Notification) -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="toast-container">
                {% for message in messages %}
                    <div class="toast toast-success show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
                        <div class="toast-body">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
        
        <form method="POST" action="{{ url_for('login') }}">
            <h1>Login</h1>
            
            <label>Email:</label>  <!-- Change from Username to Email -->
            <input type="email" name="email" required><br>  <!-- Change input name to 'email' -->
            <label>Password:</label>
            <input type="password" name="password" required><br>
            <a href="{{url_for('forgot_password')}}" class="forgot-password">Forgot Password?</a>

            <input type="submit" value="Login">
            <p>Login as a rider? <a href="{{ url_for('rider_login') }}">Login here</a></p>
            <p>Don't have an account? <a href="{{url_for('register')}}">Register here</a></p>
            <p>Register as a rider? <a href="{{ url_for('rider_register') }}">Register here</a></p>
            
        </form>

        <script>
            // Toast auto-hide
            setTimeout(function() {
                const toasts = document.querySelectorAll('.toast');
                toasts.forEach(toast => {
                    toast.classList.remove('show');
                });
            }, 3000);
        </script>
        
    </body>
    </html>